{% extends "@App/template.html.twig" %}

{% block content %}
    <h5></h5>
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h4>{{ event.name }}</h4></span>
                    <h5>General information</h5>
                    {% if event.startingTime %}
                        <p><b>Event time: </b>{{ event.startingTime | date("Y-m-d H:i:s") }}</p>
                    {% endif %}
                    {% if event.duration %}
                        <p><b>Duration: </b>{{ event.duration.format('%hh:%im') }}</p>
                    {% endif %}
                    {% if event.group and event.group.name %}
                        <h5>Group: {{ event.group.name }}</h5>
                    {% endif %}
                    {% if event.venue %}
                        <h5>Venue information</h5>
                        {% if event.venue.name %}
                            <p><b>Name: </b>{{ event.venue.name }}</p>
                        {% endif %}
                        {% if event.venue.address %}
                            <p><b>Address: </b>{{ event.venue.address }}</p>
                        {% endif %}
                        {% if event.venue.city %}
                            <p><b>City: </b>{{ event.venue.city }}</p>
                        {% endif %}
                        {% if event.venue.country %}
                            <p><b>Country: </b>{{ event.venue.country | upper }}</p>
                        {% endif %}
                    {% endif %}
                    {% if event.description %}
                        <h5>Description</h5>
                        <p>{{ event.description | raw }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}