{% extends "@App/template.html.twig" %}

{% block content %}
    <h3>Nearby upcoming events</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {%  for event in events %}
            <li>
                <div class="collapsible-header">{{ event.name }}</div>
                <div class="collapsible-body">
                    {% if event.startingTime %}
                        <b>Event time: </b>{{ event.startingTime | date("Y-m-d H:i:s") }}<br>
                    {% endif %}
                    {% if event.venue.address %}
                        <b>Location: </b>{{ event.venue.address }}<br>
                    {% endif %}
                    <br>
                    <a class="waves-effect waves-light btn" href="{{ path('event', {
                        'urlName': event.group.urlName,
                        'id': event.id
                    }) }}">More info</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

