{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center" href="{{ path('homepage') }}">Meetup app</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}